html {
  scroll-behavior: smooth;
}
body {
  font-family: "Manrope", sans-serif;
  color: #121212;
  font-weight: 400;
}
:root {
  --accent: #ad1818;
}
.text-h1 {
  max-width: 956px;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -1.8px;
  margin-bottom: 30px;
}
.text-h2 {
  font-size: 45px;
  line-height: normal;
  letter-spacing: -1.35px;
}
.text-h3 {
  font-size: 30px;
  line-height: normal;
  letter-spacing: -0.9px;
}
.text-p {
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.6px;
  text-align: left;
}
.text-tag {
  font-size: 18px;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.container {
  padding: 0 15px;
  max-width: 1180px;
  margin: 0 auto;
}
/*  */
.interior_item {
  position: relative;
  margin-bottom: 150px;
  /* padding: 379px 680px 40px 40px; */
  height: 500px;
  background: url(../img/bg/bg_1.jpeg) center center / cover no-repeat;
  /* background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; */
}
.interior-p {
  position: absolute;
  bottom: 40px;
  left: 40px;
  max-width: 435px;
}
/*  */
.about_us-tag {
  margin-bottom: 30px;
}

.about_us-h2 {
  max-width: 1048px;
  margin-bottom: 45px;
}
.about_us-btn {
  padding: 20px 40px;
  background-color: var(--accent);
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.6px;
}
/*  */
.projects {
  padding: 170px 0 145px;
}
.projects-tag {
  margin-bottom: 30px;
}
.progects_img {
  max-width: 100%;
  margin-bottom: 15px;
}
.projects-h3 {
  text-transform: uppercase;
  margin-bottom: 15px;
}
.progects_link {
  display: block;
  margin-bottom: 90px;
  color: var(--accent, #ad1818);
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.6px;
}
.projects_link-all {
  display: block;
  margin: 0 auto;
  padding: 56px 0;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--accent, #ad1818);
  color: var(--accent, #ad1818);
  text-align: center;
  font-size: 30px;
  line-height: normal;
  letter-spacing: -0.9px;
  transition: all 0.3s;
}
.projects_link-all:hover {
  background-color: var(--accent);
  color: #fff;
}
/*  */
.services {
  padding: 150px 0;
  background-color: #121212;
}
.services_wrapper {
  margin-bottom: 60px;
  list-style: none;
}
.services_wrapper:last-child {
  margin-bottom: 0;
}
.services-tag {
  color: #fff;
  margin-bottom: 35px;
}
.services-img {
  max-width: 100%;
  margin-bottom: 15px;
}
.services-h3 {
  color: #fff;
}
/*  */
.menu {
  padding: 31px 0 68px;
}
.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_item {
  display: flex;
  align-items: center;
}
.menu_link {
  margin-right: 60px;
}
/* добавление нижнего подчеркивания при навидении */
.menu_link:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #121212;
  opacity: 0.5;
  visibility: hidden;
  margin-top: 3px;
}
.menu_link:hover::after {
  visibility: visible;
}
.menu_link:hover {
  visibility: visible;
  opacity: 0.5;
}
.menu_item :last-child {
  margin-right: 0;
}
/*  */
.example {
  position: relative;
  height: 717px;
  background: url(../img/bg/bg_2.jpeg) center center / cover no-repeat;
}
.example-h3 {
  position: absolute;
  color: #fff;
  max-width: 443px;
  bottom: 60px;
}
/*  */
.contacts {
  padding: 150px 0 121px;
}
.contacts-tag {
  margin-bottom: 34px;
}
.contacts-tag::before {
  content: "";
  margin: 0 0 12px -5px;
  display: block;
  width: 24px;
  height: 24px;
  background: url(../img/images/ic_outline-phone-iphone.png) center center /
    cover no-repeat;
}

.link_phone {
  display: inline-block;
  margin-bottom: 22px;
}
.link_phone::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #121212;
  opacity: 0.5;
  margin-top: 7px;
  visibility: hidden;
}
.link_phone:hover {
  opacity: 0.5;
}
.link_phone:hover::after {
  visibility: visible;
}
.link_mail {
  display: inline-block;
}
.link_mail::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #121212;
  opacity: 0.5;
  margin-top: 7px;
  visibility: hidden;
}
.link_mail:hover {
  opacity: 0.5;
}
.link_mail:hover::after {
  visibility: visible;
}
/*  */
.footer_wrapper {
  background-color: #121212;
  padding: 60px 0 30px;
}
.link_footer {
  color: #fff;
}

.menu_footer {
  width: 470px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.footer-p {
  text-align: center;
  opacity: 0.5;
}
/*  */

@media (max-width: 1199px) {
  .interior {
    padding-top: 60px;
  }
  .text-h1 {
    max-width: 802px;
    font-size: 50px;
  }
  .interior_item {
    height: 400px;
    margin-bottom: 120px;
  }

  .interior-p {
    bottom: 30px;
  }

  .about_us-h2 {
    max-width: 690px;
    font-size: 35px;
    letter-spacing: -1.05px;
    margin-bottom: 50px;
  }
  .projects {
    padding-top: 139px;
  }

  .progects_img {
    height: 450px;
  }

  .projects-h3 {
    font-size: 25px;
    letter-spacing: -0.75px;
    margin-bottom: 10px;
  }
  .progects_link {
    margin-bottom: 80px;
  }
  .progects_wrapper:last-child {
    margin-bottom: 90px;
  }
  .projects_link-all {
    margin-top: 98px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 12px;
  }
  .text-tag {
    font-size: 14px;
    letter-spacing: -0.42px;
    margin-bottom: 20px;
  }
  .interior {
    padding-top: 108px;
  }
  br {
    display: none;
  }
  .text-h1 {
    max-width: 337px;
    font-size: 30px;
    line-height: 31.621px; /* 105.402% */
    letter-spacing: -0.9px;
    margin-bottom: 25px;
  }
  .interior_item {
    width: 100%;
    height: 304px;
    margin-bottom: 80px;
  }

  .interior-p {
    max-width: 312px;
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.48px;
    bottom: 15px;
    left: 15px;
  }
  .about_us-h2 {
    max-width: 348px;
    font-size: 22px;
    letter-spacing: -0.66px;
    margin-bottom: 48px;
  }
  .about_us-btn {
    padding: 15px 29px;
    font-size: 16px;
    letter-spacing: -0.48px;
  }
  .projects {
    padding-top: 95px;
  }

  .progects_img {
    height: 250px;
    margin-bottom: 20px;
  }

  .projects-h3 {
    font-size: 18px;
    letter-spacing: -0.54px;
    margin-bottom: 11px;
  }
  .progects_link {
    font-size: 16px;
    letter-spacing: -0.48px;
    margin-bottom: 49px;
  }
  .progects_wrapper:last-child {
    margin-bottom: 60px;
  }
  .projects_link-all {
    padding: 37px 0;
    font-size: 22px;
    letter-spacing: -0.66px;
    margin-top: 98px;
  }
}
